PORT=3000
NODE_ENV=development

V2X_BROKER_URL=mqtts://broker.lifelane.internal:8883
V2X_CLIENT_ID=AMB_NODE_108
V2X_PREEMPTION_TOPIC=/v2x/corridor/preemption
V2X_TELEMETRY_INTERVAL_MS=100

GNSS_PORT=COM4
GNSS_BAUD=115200
GNSS_CONSTELLATION=NAVIC_GAGAN_GPS
MIN_ACCURACY_THRESHOLD_M=0.85

TRAFFIC_API_PROVIDER=tomtom
TOMTOM_API_KEY=your_tomtom_api_key_here
MAPPLS_CLIENT_ID=your_mappls_client_id_here
MAPPLS_CLIENT_SECRET=your_mappls_client_secret_here

POLICE_DISPATCH_WEBHOOK=https://dispatch.police.gov.in/api/v1/emergency/sos
PCR_RESPONSE_TIMEOUT_SEC=15
SCATS_OVERRIDE_HOLD_SEC=35

AMBIENT_TEMP_C=28
ROAD_SURFACE_TYPE=dry_asphalt
ROAD_FRICTION_COEFF=0.82
AIR_QUALITY_INDEX=138
